enviropi/node-red-flow.json
[{"id":"41416522.e9aeac","type":"mqtt in","z":"d4c37c64.93f0d","name":"EnviroReadings","topic":"enviro","qos":"2","datatype":"auto","broker":"16097b15.99a265","nl":false,"rap":true,"rh":0,"x":240,"y":100,"wires":[["8e4b7ef6.5717b"]]},{"id":"8e4b7ef6.5717b","type":"json","z":"d4c37c64.93f0d","name":"","property":"payload","action":"","pretty":false,"x":450,"y":100,"wires":[["eea0dab6.e5f058","3f099e09.f17e12","ffb76e23.a8d55","6738f7ca.06dc08","e1883005.715eb","db5bc1de.aac27","96314e9.359e0b","1663bcd5.caf9c3","4d801d64.80af24"]]},{"id":"3f099e09.f17e12","type":"change","z":"d4c37c64.93f0d","name":"temperatiure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["7bae6ba3.773564"]]},{"id":"7bae6ba3.773564","type":"influxdb out","z":"d4c37c64.93f0d","influxdb":"212967f0.6c3998","name":"Ategee_influxdb_temperature","measurement":"temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":970,"y":280,"wires":[]},{"id":"cf51bf0d.b1685","type":"influxdb out","z":"d4c37c64.93f0d","influxdb":"212967f0.6c3998","name":"Ategee_influxdb_pressure","measurement":"pressure","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":320,"wires":[]},{"id":"ffb76e23.a8d55","type":"change","z":"d4c37c64.93f0d","name":"pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":320,"wires":[["cf51bf0d.b1685"]]},{"id":"6738f7ca.06dc08","type":"change","z":"d4c37c64.93f0d","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["d21ed20c.0ca28"]]},{"id":"d21ed20c.0ca28","type":"influxdb out","z":"d4c37c64.93f0d","influxdb":"212967f0.6c3998","name":"Ategee_influxdb_humidity","measurement":"humidity","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":360,"wires":[]},{"id":"3c2fc3a0.8b94ac","type":"influxdb out","z":"d4c37c64.93f0d","influxdb":"212967f0.6c3998","name":"Ategee_influxdb_oxidised","measurement":"oxidised","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":400,"wires":[]},{"id":"e1883005.715eb","type":"change","z":"d4c37c64.93f0d","name":"oxidised","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.oxidised","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":400,"wires":[["3c2fc3a0.8b94ac"]]},{"id":"db5bc1de.aac27","type":"change","z":"d4c37c64.93f0d","name":"reduced","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.reduced","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":440,"wires":[["89c4e338.ddf41"]]},{"id":"89c4e338.ddf41","type":"influxdb out","z":"d4c37c64.93f0d","influxdb":"212967f0.6c3998","name":"Ategee_influxdb_reduced","measurement":"reduced","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":440,"wires":[]},{"id":"65d455ca.d3dbac","type":"influxdb out","z":"d4c37c64.93f0d","influxdb":"212967f0.6c3998","name":"Ategee_influxdb_nh3","measurement":"nh3","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":480,"wires":[]},{"id":"96314e9.359e0b","type":"change","z":"d4c37c64.93f0d","name":"nh3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.nh3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":480,"wires":[["65d455ca.d3dbac"]]},{"id":"1663bcd5.caf9c3","type":"change","z":"d4c37c64.93f0d","name":"lux","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":520,"wires":[["18a04f0c.1ec861"]]},{"id":"18a04f0c.1ec861","type":"influxdb out","z":"d4c37c64.93f0d","influxdb":"212967f0.6c3998","name":"Ategee_influxdb_lux","measurement":"lux","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":520,"wires":[]},{"id":"a037f6c5.b8af98","type":"influxdb out","z":"d4c37c64.93f0d","influxdb":"212967f0.6c3998","name":"Ategee_influxdb_serial","measurement":"serial","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":560,"wires":[]},{"id":"4d801d64.80af24","type":"change","z":"d4c37c64.93f0d","name":"serial","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.serial","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":560,"wires":[["a037f6c5.b8af98"]]},{"id":"eea0dab6.e5f058","type":"debug","z":"d4c37c64.93f0d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":180,"wires":[]},{"id":"16097b15.99a265","type":"mqtt-broker","name":"Ategee_local_MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"212967f0.6c3998","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"enviro","name":"Ategee_influx_enviro-db","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]
